<div class="container-fluid">
<nav class="navbar navbar-dark  text-left rounded" style="background-color:  #DFC75C">
        <div class="flex-row" *ngxPermissionsOnly="['NORMAL', 'ADMIN']">
                <div class="form-inline">
                    <a class="btn your-input" routerLink="/clasificados/crear" role="button">Publicar clasificado</a>
                </div>
        </div>
</nav>       
<br> 
<div class="card-deck">
    <div *ngFor="let clasificado of clasificados" class="card" style="width: 18rem;">
       <!-- <img class="card-img-top" src="{{evento.imagen}}" alt="Card image cap"> -->
        <div class="card-body">
            <h3 class="card-title">{{clasificado.nombre}}</h3>
            <br>
            <p class="card-text">{{clasificado.contenido}}</p>
            <p>...</p>
            <br>
            <a class="btn btn-primary btn-lg" href="/clasificados/{{clasificado.id}}" role="button" >Ver más</a>
        </div>
    </div>
</div>
</div>