<div class="container-fluid">
  <nav class="navbar navbar-dark text-left rounded">
      <a class="navbar-brand"><i class="fas fa-filter"></i>Filtrar por</a>
      <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only"></span>Tipo de Mascota </button>
          <!--<div class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
              <!--<button (click)="filtrarPorTipo('PERRO')" name="BtnPerro" class="dropdown-item" type="button"><i class="fas fa-dog"></i> Perro</button>-->
              <!--<button (click)="filtrarPorTipo('GATO')" name="BtnGato" class="dropdown-item" type="button"><i class="fas fa-cat"></i>  Gato</button>-->
          <!--</div>-->
      </div>
      <div class="btn-group dropleft">
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only"></span> Estado </button>
      </div>
  </nav>

  <div *ngIf="mascotasEnAdopcion.length > 0" >
      <div *ngFor="let proceso of mascotasEnAdopcion">
        
          <div class="card mb-2">
              <!--<img class="card-img-top" src="{{proceso.mascota.fotos}}" alt="Card image cap">-->
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-4 text-left">
                          <h4 class="card-title">{{proceso.id}}</h4><!--debería ir el nombre de la mascota-->
                      </div>
                  </div>
                  <div class ="col-md-12 text-center">
                      <p>{{proceso.pasado}}</p>
                    
                  </div>
                  <div class="row text-right">
                      
                      <div class="col-md-12 text-right">
                          <a class="btn btn-primary" name="masInfo" routerLink="/mascotas-adopcion/{{proceso.id}}">Más información</a>
                            
                      </div>
                    </div>
              </div>
          </div>
        
    </div>
    </div>

  <br>
  <br>
  <h1 *ngIf="mascotasEnAdopcion.length == 0" class="text-center">Whoops... Parece que ningun proceso coincide con tus criterios de búsqueda</h1>
  <br>
  <br>
  <div class = "calificacion" class="container-fluid">
      <h1>Comentarios</h1>
        <ng-container *ngFor ="let calificacion of calificaciones" > 
            <marquee behavior = "scroll" direction = "left" scrollamount ="10">{{calificacion.comentario}}   
                </marquee>
        </ng-container>
    </div>

  <br>
  <br>
</div>
