<div class="container-fluid">
    <br>
    <br>
    <div class="card">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="img-responsive mw-100 col-md-6 " src="{{mascotaDetail.fotos}}">
            </div>

            <table class="table table-borderless col-md-6 text-center">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <th>{{mascotaDetail.nombre}}</th>
                    </tr>
                    <tr>
                        <th>Tipo</th>
                        <td>{{mascotaDetail.tipo}}</td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>{{mascotaDetail.estado}}</td>
                    </tr>
                    <tr>
                        <th>Raza</th>
                        <td>{{mascotaDetail.raza}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Descripción</h5>
            </div>
            <div class="col-md-9">
                {{mascotaDetail.descripcion}}
            </div>
        </div>
        <div class="row">
            <div class="col md-10"> </div>
            <div class="col-md-2">
                <button class="btn btn-info" routerLink="{{rutaProceso}}" type="button" name="button">Detalles proceso</button>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>