<div class="container-fluid">
<br>
<br>
<div class="card">
        <div class="card-body">
<h1  class="card-title"><b>{{articulo.titulo}}</b></h1>
<p class="lead">{{articulo.tema}}</p>
<p class="lead">Por {{articulo.autor.nombre}}</p>
<p class="lead">{{articulo.resumen}}</p>
<hr class="my-4">
<p>{{articulo.contenido}}</p>
<br>
<br>
<a class="btn btn-primary btn-lg" href="/articulos/list" role="button">Volver</a>
<br>
<br>
<div class="flex-row" *ngxPermissionsOnly="['ADMIN']">
         <div class="form-inline">
             <a class="btn btn-primary btn-lg" routerLink="/articulos/{{articulo.id}}/editar" role="button">Editar</a>
        </div>
</div>
</div>
<br>
</div>
<br>
<br>
</div>