

<div class="item active" *ngFor="let usuario of usuarios">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                      <img src={{usuario.rutaImagen}} alt="Circle Image" class="img-raised rounded-circle img-fluid" width=100>

                  </div>
                  <div class="col-sm-5">
                    <h4>{{usuario.nombre}}</h4>
                    <small>{{usuario.usuario}}</small>
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary"  routerLink="/usuario/{{usuario.id}}" >Mas info</button>
                       
                    </div>
                    
                  </div>
                  
                </div>
              </blockquote>
            </div>

            <div>
                <router-outlet></router-outlet>
            </div>
            