<div class="container-fluid">
    <nav class="navbar navbar-dark  text-left rounded" >
        <a class="navbar-brand"><i class="fas fa-filter"></i>Filtrar por</a>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>Tipo de Mascota </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button (click)="filtrarPorTipo('PERRO')" name="BtnPerro" class="dropdown-item" type="button"><i class="fas fa-dog"></i> Perro</button>
                <button (click)="filtrarPorTipo('GATO')" name="BtnGato" class="dropdown-item" type="button"><i class="fas fa-cat"></i>  Gato</button>
            </div>
        </div>
        <div class="btn-group dropleft">
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only"></span> Estado </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button (click)="filtrarPorEstado('EN_ADOPCION')" name="EnAdopcion" class="dropdown-item" type="button">En adopción</button>
                <button (click)="filtrarPorEstado('EXTRAVIADO')" name="Extraviado" class="dropdown-item" type="button">Extraviado</button>
                <button (click)="filtrarPorEstado('ENCONTRADO')" name="Encontrado" class="dropdown-item" type="button">Encontrado</button>
                <button (click)="filtrarPorEstado('ADOPTADO')" name="Adoptado" class="dropdown-item" type="button">Adoptado</button>
            </div>
        </div>
    </nav>

    <carousel *ngIf="mascotas.length>0" [(activeSlide)]="activeSlide">
        <slide *ngFor="let mascota of mascotas">
            <div class="card mb-2">
                <img class="card-img-top" src="{{mascota.fotos}}" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4 class="card-title">{{mascota.nombre}}</h4>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-6">
                            <h5 *ngIf="mascota.estado=='ADOPTADO'" class="card-text text-success">{{mascota.estado}}</h5>
                            <h5 *ngIf="mascota.estado=='ENCONTRADO'" class="card-text text-success">{{mascota.estado}}</h5>
                            <h5 *ngIf="mascota.estado=='EN_ADOPCION'" class="card-text text-warning">EN ADOPCIÓN</h5>
                            <h5 *ngIf="mascota.estado=='EXTRAVIADO'" class="card-text text-danger">{{mascota.estado}}</h5>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary" name="masInfo" routerLink="/mascotas/{{mascota.id}}">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </slide>
    </carousel>

    <br>
    <br>
    <h1 *ngIf="mascotas.length == 0" class="text-center">Whoops... Parece que ninguna mascota coincide con tus criterios de búsqueda</h1>
    <br>
    <br>
</div>