<div class="container-fluid">
    <carousel [(activeSlide)]="activeSlide">
        <slide *ngFor="let mascota of mascotas">
            <div class="card mb-2">
                <img class="card-img-top" src="{{mascota.fotos}}" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="card-title">{{mascota.nombre}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text">{{mascota.estado}}</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-info" name="masInfo" routerLink="/mascotas/{{mascota.id}}">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </slide>
    </carousel>
</div>