<div class="container-fluid">
    <br>
    <div class="card">
        <div class="card-body">
            <form>
            <h4 class="card-title">¿Dónde te encuentras?</h4>
            <div class="row">
                <div class="col-md-4">
                    <input [(ngModel)]="mascotaEncontrada.ubicacion" name="city" type="text" id="ciudad" class="form-control col-md-6" placeholder="Dirección, Ciudad, País">
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>¿Cuándo encontraste a la mascota?</label>
                        <input [(ngModel)]="mascotaEncontrada.fechaInicio" type="date" >
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Siguiente</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger">Cancelar</button>
                </div>
            </div>
                <br>
            </form>
            <br>
            <br>
        </div>
        <p></p>
    </div>