<div class="card mb-3">
    <img class="card-img-top" src="{{evento.imagen}}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{evento.nombre}}</h4>
      <p class="card-text"><small class="text-muted">Por {{evento.organizador.nombre}}</small></p>
      <p class="card-text"><small class="text-muted">Del {{evento.fechaInicio}} al {{evento.fechaFin}}</small></p>
      <p class="card-text">{{evento.descripcion}}</p>
      <br>
      <br>
      <a class="btn btn-primary btn-lg" href="/eventos/list" role="button">Volver</a>
      <br>
      <br>
      <div class="flex-row" *ngxPermissionsOnly="['ADMIN']">
          <div class="form-inline"></div>
              <a class="btn btn-primary btn-lg" routerLink="/eventos/{{evento.id}}/editar" role="button">Editar</a>
         </div>
      </div>
      <br>
      <br>
    </div>
