<div class="container-fluid">
    <br>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <!--<img class="img-responsive mw-100 col-md-6 " src="{{mascotaEnAdopcion.mascota.fotos}}">-->
            </div>
            <table class="table table-borderless col-md-12 text-center">
               
                <tbody> 
                    <!--<th><button class="btn btn-default"routerLink="./mascotas/{{mascota.id}}" type="button" name="button">{{mascotaEnAdopcion.mascota.nombre}}</button></th>-->
                   
                    <tr>
                        <th>Mascota</th>
                        <td>{{mascotaEnAdopcion.mascota.nombre}}</td>
                    </tr>
                    <tr>
                        <th>Dueño</th>
                        <td>{{mascotaEnAdopcion.duenio.nombre}}</td>
                    </tr>
                    <tr>
                            <th>Raza</th>
                            <td>{{mascotaEnAdopcion.mascota.raza}}</td>
                        </tr>
                    <tr>
                        <th>Razón de la Adopción</th>
                        <td>{{mascotaEnAdopcion.razonAdopcion}}</td>
                    </tr>
                    <tr>
                        <th>Pasado</th>
                        <td>{{mascotaEnAdopcion.pasado}}</td>
                    </tr>
                    <tr>
                        <th>En Adopción desde:</th>
                        <td>{{mascotaEnAdopcion.fechaInicio}}</td>
                    </tr>
                    
                </tbody>
            </table>
            <br>
            <div class ="col-md-12 text-center">
                <img class="card-img-top" src="{{proceso.mascota.fotos}}" alt="Card image cap">
            </div>
            <br>
        </div>
        <br>
        <br>
        
        <div class="col-md-12 text-center" >
            <h5>Postulaciones</h5>
        </div>
        <div *ngFor="let postulado of postulados" >
                <div class="col-md-12 text-center">
                    <p>{{postulado.nombre}} {{postulado.correo}} {{postulado.telefono}}</p>
                </div> 
                                
        </div>
        <br>
        
        <div class="flex-row" >
            <button class="btn btn-primary" routerLink="/mascotas-adopcion/list" type="button" name="button">¡Me quiero postular!</button>
        </div>           
        
        <br>
        
        <div class="col-md-12 text-left" >
            <h5>Calificación</h5>
        </div>
        <div *ngIf ="!mascotaEnAdopcion.adoptada">
            <div class="col-md-12 text-left" >
                <button class="btn btn-primary" routerLink="/calificaciones/create-calificacion" type="button" name="button">Calificar Proceso</button>
            </div>
        </div> 
        
        <div *ngIf ="mascotaEnAdopcion.adoptada">
            <div class="col-md-12 text-right" >
                    <button class="btn btn-primary" routerLink="/calificaciones/{{mascotaEnAdopcion.id}}" type="button" name="button">Ver Calificación</button>
            </div>
        </div>    
       
        
        <div class="row">
            
            <div class="col-md-12 text-right">
                <button class="btn btn-danger" routerLink="/mascotas-adopcion/list" type="button" name="volver">Volver</button>
            </div>
        </div>
        
    </div>
    <br>
    <br>
</div>