<div class="container-fluid">
    <br>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <!--<img class="img-responsive mw-100 col-md-6 " src="{{mascotaEnAdopcion.mascota.fotos}}">-->
            </div>
            <table class="table table-borderless col-md-12 text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Mascota</th>
                        <!--<th><button class="btn btn-default"routerLink="./mascotas/{{mascota.id}}" type="button" name="button">{{mascotaEnAdopcion.mascota.nombre}}</button></th>-->
                    </tr>
                </thead>
                <tbody>                 
                    
                    <tr>
                        <th>Razón de la Adopción</th>
                        <td>{{mascotaEnAdopcion.razonAdopcion}}</td>
                    </tr>
                    <tr>
                        <th>Pasado</th>
                        <td>{{mascotaEnAdopcion.pasado}}</td>
                    </tr>
                    <tr>
                        <th>En Adopción desde:</th>
                        <td>{{mascotaEnAdopcion.fechaInicio}}</td>
                    </tr>
                    
                </tbody>
            </table>
            <br>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12 text-left">
                <h5>Postulaciones</h5>
            </div>
            <div class="col-md-12 text-left" >
                <button class="btn btn-success" routerLink="/usuario/list" type="button" name="button">¡Me quiero postular!</button>
            </div>           
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-left">
                <h5>Calificación</h5>
            </div>
            <div class="col-md-12 text-left" >
                <button class="btn btn-success" routerLink="/calificaciones/create-calificacion" type="button" name="button">Calificar Proceso</button>
            </div>

            <div class="col-md-12 text-right" >
                    <button class="btn btn-success" routerLink="/calificaciones/calificacion-detail" type="button" name="button">Ver Calificacion</button>
                </div>
        </div>
        
        <div class="row">
            
            <div class="col-md-12 text-right">
                <button class="btn btn-danger" routerLink="/mascotas-adopcion/list" type="button" name="volver">Volver</button>
            </div>
        </div>
        
    </div>
    <br>
    <br>
</div>