<div class="page-wrap">
<nav class="navbar navbar-expand-lg navbar-custom ">
    <a class="navbar-brand" href="#">
        <div class="form-inline">
            <h2 class="mainTitle">HELPET</h2>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-item ">
        <div class="nav-link" [routerLink]="['/mascotas/list']" routerLinkActive="active">
            <p>Mascotas</p>
        </div>
    </a>
    <a class="navbar-item ">
        <div class="nav-link" [routerLink]="['/articulos/list']" routerLinkActive="active">
            <p>Artículos</p>
        </div>
    </a>
    <a class="navbar-item ">
        <div class="nav-link" [routerLink]="['/eventos/list']" routerLinkActive="active">
            <p>Eventos</p>
        </div>
    </a>
    <a class="navbar-item ">
        <div class="nav-link" [routerLink]="['/clasificados/list']" routerLinkActive="active">
           <p>Clasificados</p>
        </div>
  </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto mt-0">

        </div>
        <div class="navbar-nav ml-auto flex-column">
            <div class="flex-row" *ngxPermissionsOnly="['GUEST']">
                <div class="form-inline">
                    <li class="right-space"><a id="signup-navbar-item" [routerLink]="['/usuario/crear']"><span class="fa fa-user"></span>
                                Sign Up</a></li>
                    <li><a id="login-navbar-item" routerLink="/auth/login"><span class="fa fa-sign-in"></span>Login</a></li>
                </div>
            </div>
            <div class="flex-row" *ngxPermissionsOnly="['CLIENT', 'ADMIN']">
                <div class="form-inline">
                    <li><a id="logout-navbar-item" (click)="logout()" href="#"><span class="fa fa-sign-out"></span>Logout</a></li>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>
<div>
    <router-outlet></router-outlet>
</div>
<footer class="footer special-color-dark" id="footer">
    <div class="container">
        <p class="navbar-text text-center">
            <img src="../assets/uniandes.png" alt="logo" width="8%" /><span id="footer-text"></span>
            <a routerLink="/home"> HELPET</a>
            <a> © Uniandes 2019. Desarrollo de Software en Equipos</a>
        </p>
    </div>
</footer>


