.special-color-dark {
    color: rgb(255, 255, 255);
    background: #422c20;
}


.nav-link {
    color:white;
    border: 0;
    outline:0;
    text-align: center;
}

.nav-link:hover {
    color:#f1cdb7;
    box-shadow: none ;
    border: 0 ;
}

.nav-link:focus {
    box-shadow: none ;
    border: 0 ;
}

.right-space{
    color: #f1cdb7;
}

a
{
    color: #DFC75C;
}

footer {
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
}

.busq::placeholder{
    color: #DFC75C;
}

.busq{
    background-color: transparent;
    color: white;
    border: none;
    width:160px;
}

.btn-busq{
    background-color: transparent;
    color:#DFC75C;
}

