

<div class="page-header header-filter" data-parallax="true"
  style="background-image:url('https://media.istockphoto.com/vectors/seamless-pattern-with-animal-paw-prints-cute-pet-paws-background-vector-id1053430158');">
</div>
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img src={{usuarioDetalle.rutaImagen}} alt="Circle Image" class="img-raised rounded-circle img-fluid" width=300>
            </div>
            <div class="name">
              <h3 class="title">{{usuarioDetalle.nombre}}</h3>
              <h5>{{usuarioDetalle.usuario}}</h5>
                          </div>
                          
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills form-inline justify-content-center align-self-center" role="tablist">
                  <div class="flex-row" *ngxPermissionsOnly="['NORMAL', 'ADMIN']">
                      <div class="form-inline">
                          <button routerLink="/eventos/crear"  type="submit" class="btn btn-primary">Publicar Evento</button>
                        
                      </div>
              </div>
  
             
              </ul>
            </div>
          </div>
        </div>
        

      <div>

        <div class="container-fluid">
          
          <br>
          <div class="card-deck">
              <div *ngFor="let evento of usuarioDetalle.eventos" class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{evento.imagen}}" alt="Card image cap">
                  <div class="card-body">
                      <h3 class="card-title">{{evento.nombre}}</h3>
                      <br>
                      <p class="card-text">Fecha inicio: {{evento.fechaInicio}}</p>
                      <p class="card-text">Fecha fin: {{evento.fechaFin}}</p>
                      <br>
                      <a class="btn btn-primary btn-lg" href="/eventos/{{evento.id}}" role="button" >Ver más</a>
                  </div>
              </div>
          </div>
          </div>
      </div>
 