<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/mascotas-extraviadas/nuevo">Crer nuevo proceso <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/recompensas/list">Recompensas</a>
        </div>
    </nav>


    <ul>
        <li *ngFor="let mascotaExtraviada of mascotasExtraviadas">
            <a href="/mascotas-extraviadas/{{mascotaExtraviada.id}}">
      Lugar: {{mascotaExtraviada.ciudad}}/{{mascotaExtraviada.direccion}}
    </a>
        </li>
    </ul>
</div>