<div class="container-fluid">
  <nav class="navbar navbar-dark bg-primary text-left rounded">
      <div class="btn-group">
          <a href="/mascotas-extraviadas/nuevo">
            <button type="button" class="btn btn-primary"  >
                Crear Nuevo Proceso 
            </button>
          </a>
      </div>

      <div class="btn-group">
        <a href="/recompensas/list">
          <button type="button" class="btn btn-primary"  >
              Recompensas 
          </button>
        </a>
    </div>

  </nav>
</div>

<ul>
  <li *ngFor="let mascotaExtraviada of mascotasExtraviadas">
    <a href="/mascotas-extraviadas/{{mascotaExtraviada.id}}">
      Lugar: {{mascotaExtraviada.ciudad}}/{{mascotaExtraviada.direccion}}
    </a>
  </li>
</ul>
