<div class="container-fluid">
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cuéntanos un poco sobre tu mascota</h4>
            <br>
            <form (ngSubmit)="crearMascota()" #forma="ngForm">
                <div class=" form-group">
                    <label for="Nombre ">Nombre</label>
                    <input [(ngModel)]="mascota.nombre" name="nombre" type="text" class="form-control " placeholder="Nombre de la mascota">
                </div>
                <div class="form-group">
                    <label for="Tipo">Tipo</label>
                    <select [(ngModel)]="mascota.tipo" name="tipo" class="form-control" id="tipoMascotaSelect">
                    <option value = "PERRO">Perro</option>
                    <option value = "GATO">Gato</option>
                </select>
                </div>
                <div class="form-group">
                    <label for="Estado">Estado</label>
                    <select [(ngModel)]="mascota.estado" name="estadoMascota" class="form-control" id="estadoMascotaSelect">
                        <option value="EXTRAVIADO">Extraviado</option>
                        <option value="ENCONTRADO">Encontrado</option>
                        <option value="EN_ADOPCION">En adopción</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea [(ngModel)]="mascota.descripcion" #descripcion="ngModel" type="text" name="descripcion" class="form-control" required>
                    </textarea>
                    <div *ngIf="descripcion.errors && (descripcion.dirty || descripcion.touched)">
                        <div [hidden]="!descripcion.errors.required" class="alert alert-danger form-alert">
                            Por favor llene este campo.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Raza">Raza</label>
                    <input [(ngModel)]="mascota.raza" #raza="ngModel" type="text" name="raza" id="" class="form-control" placeholder="Raza de la mascota. NA si no aplica" required>
                    <div *ngIf="raza.errors && (raza.dirty || raza.touched)">
                        <div [hidden]="!raza.errors.required" class="alert alert-danger form-alert">
                            Por favor llene este campo. Si no aplica escriba 'NA'
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Adjunta una foto</label>
                    <input type="file" id="fotos" name="fotos" class="form-control-file" accept="image/*" (change)="changeListener($event)">
                </div>
                <div class="row text-right">
                    <div class="col-md-9">

                    </div>
                    <div class="col-md-1">
                        <button [disabled]="!forma.valid" type="submit" class="btn btn-success">Enviar</button>
                    </div>
                    <div class="col-md-2">
                        <button [routerLink]="['/mascotas','list']" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
</div>