<div class="container-fluid">
    <br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cuéntanos un poco sobre tu mascota</h4>
            <br>
            <form (ngSubmit)="crearMascota()" #forma="ngForm">
                <div class=" form-group">
                    <label for="Nombre ">Nombre</label>
                    <input name="nombre" [(ngModel)]="mascota.nombre" type="text" class="form-control " placeholder="Nombre de la mascota">
                </div>
                <div class="form-group">
                    <label for="Tipo">Tipo</label>
                    <select class="form-control" id="tipoMascotaSelect">
                    <option>Perro</option>
                    <option>Gato</option>
                </select>
                </div>
                <div class="form-group">
                    <label for="Estado">Estado</label>
                    <select [(ngModel)]="mascota.estado" class="form-control" id="estadoMascotaSelect">
                        <option value="EXTRAVIADO">Extraviado</option>
                        <option value="ENCONTRADO">Encontrado</option>
                        <option value="EN_ADOPCION">En adopción</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Raza">Raza</label>
                    <input [(ngModel)]="mascota.raza" #raza="ngModel" type="text" name="raza" id="" class="form-control" placeholder="Raza de la mascota. NA si no aplica" required>
                    <div *ngIf="raza.errors && (raza.dirty || raza.touched)">
                        <div [hidden]="!name.errors.required" class="alert alert-danger form-alert">
                            Por favor llene este campo. Si no aplica escriba 'NA'
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Adjunta una foto</label>
                    <input [(ngModel)]="mascota.foto" type="file" id="foto" class="form-control-file" required>
                </div>
                <div class="row text-right">
                    <div class="col-md-9">

                    </div>
                    <div class="col-md-1">
                        <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-success">Enviar</button>
                    </div>
                    <div class="col-md-2">
                        <button [routerLink]="['/mascotas','list']" class="btn btn-outline-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
</div>