<div class="container-fluid">
<nav class="navbar navbar-dark  text-left rounded" style="background-color:  #DFC75C">
        
    <div class="flex-row" *ngxPermissionsOnly="['NORMAL', 'ADMIN']">
            <div class="form-inline">
                <a class="btn your-input" routerLink="/eventos/crear" role="button">Publicar evento</a>
            </div>
    </div>

    <div>
        <button (click)="getEventos()" class="btn btn-primary your-button" name="BtnLimpiar" type="button">Todos los eventos</button>
    </div>

    <div >
            <button class="btn btn-primary your-input" (click)="d.toggle()" type="button">
                    Filtrar por fecha de inicio
            </button> <input class="your-input" 
                   name="dp" size="10" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (dateSelect) = "filtrarPorFecha($event)" >
    </div>
    <div>
    </div>

</nav>
<br>
<div class="card-deck">
    <div *ngFor="let evento of eventos" class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{evento.imagen}}" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">{{evento.nombre}}</h3>
            <br>
            <p class="card-text">Fecha inicio: {{evento.fechaInicio}}</p>
            <p class="card-text">Fecha fin: {{evento.fechaFin}}</p>
            <br>
            <a class="btn btn-primary btn-lg" href="/eventos/{{evento.id}}" role="button" >Ver más</a>
        </div>
    </div>
</div>
</div>