/* You can add global styles to this file, and also import other style files */

.navbar-custom {
    background-color : #422c20;
}


/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color:#DFC75C;
}


/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: rgb(126, 112, 53);
}

.navbar-dark{
   background-color:  #DFC75C;
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.fa-search {
    color: #ffffff;
}

.fa-user {
    color: #DFC75C;
}

.href{
    color:#f1cdb7;
}


.btn-primary
{
background-color: #DFC75C;
color:rgb(0, 0, 0);
border-color: #DFC75C;
}

.btn{
    box-shadow: none ;
    border: none ;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active { 
background-color:rgb(173, 156, 76);
color:#FFF; 
border-color:rgb(173, 156, 76);
}

.btn:active, .btn:active, .btn:active:focus, .btn-primary:active:focus, .btn:hover {
    background-color:rgb(173, 156, 76);
    color:#FFF; 
    border-color:rgb(173, 156, 76);
}

.show > .btn-primary:focus{
    background-color:rgb(173, 156, 76) ;
      box-shadow:none ;
      border: none ;
    
    }
    .btn-primary{
      box-shadow: none ;
      border: none ;
    }