.btn-custom {
    background: #f5cf97;
    color: rgb(255, 255, 255);
    border-radius: 40px;
}

.btn {
    outline: none;
    border: 2px solid white;
    box-sizing: none; 
    background-color: transparent; 
    color: rgb(255, 255, 255);
 }

.fas {
    color: #fffc03;
}

.btn-custom:hover {
    background: #ffceda46;
    color: #343434;
}

.bg-img {
    background-image: url('../../assets/cafe1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}

body {
    min-height: 75vh;
    height: auto;
    margin: 0;
}