<body class="bg-img">
    <div class="container-fluid">
        <br>
        <span class="align-middle">
        <div class="row ">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center">
                <button [routerLink]="['/mascotas-extraviadas/list']" class="btn btn-custom btn-lg" width="100%">
               Mi mascota se perdió <i class="fas fa-sad-cry"></i>
              </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center" width="100%">
                <button class="btn btn-custom btn-lg">
                  <i class="fas fa-grin-tongue-squint"></i> ¡Encontré la mascota de alguien! 
              </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center" width="100%">
                <button [routerLink]="['/mascotas-adopcion/list']" class="btn btn-custom btn-lg">
                ¡Quiero adoptar una mascota! <i class="fas fa-grin-hearts"></i>
              </button>
            </div>
        </div>
      </span>
        <br>
    </div>
</body>