<body class="bg-img">
    <div class="container-fluid">
        <br>
        <span class="align-middle">
        <div class="row ">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center">
                <button [routerLink]="['/mascotas-extraviadas/list']" class="btn btn-outline btn-custom btn-lg" width="100%">
               Mi mascota se perdió 
              </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center" width="100%">
                <button [routerLink]="['/mascotas-encontradas/nuevo']" name = "btnMascEncontradas" class="btn btn-custom btn-lg">
                  ¡Encontré la mascota de alguien! 
              </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center" width="100%">
                <button [routerLink]="['/mascotas-adopcion/list']" class="btn btn-custom btn-lg">
                ¡Quiero adoptar una mascota! 
              </button>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8">
          </div>
          <div class="col-md-4 text-center" width="100%">
              <button [routerLink]="['/mascotas-adopcion/nuevo']" class="btn btn-custom btn-lg">
                ¡Quiero poner una mascota en adopción! 
            </button>
          </div>
      </div>
        <br>
      </span>
        <br>
    </div>
</body>