<div class="container-fluid">
    <br>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Publica un artículo</h4>
                <br>
                <form  (ngSubmit)="crearArticulo()" #forma="ngForm" action="/articulos/list" method="post">
                    <div class=" form-group">
                        <label for="Titulo ">Título</label>
                        <input [(ngModel)]="articulo.titulo" name="titulo" type="text" class="form-control " placeholder="Titulo del artículo">
                    </div>
                    <div class="form-group">
                        <label for="Tema">Tema</label>
                      <select [(ngModel)]="articulo.tema" name='temaArticulo' class="form-control" id="temaArticuloSelect">
                        <option value = "CUIDADO">Cuidado de mascotas</option>
                        <option value = "SALUD">Salud</option>
                        <option value = "ENTRENAMIENTO">Entrenamiento</option>
                        <option value = "TENENCIA">Tenencia responsable</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="Resumen">Resumen</label>
                        <textarea [(ngModel)]="articulo.resumen" class="form-control" name="resumen" id="resumen" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Contenido">Contenido</label>
                        <textarea [(ngModel)]="articulo.contenido" class="form-control" name="contenido" id="contenido" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                            <label for="autor">Autor del artículo</label>
                            <select class="custom-select" name="autor" id="autor" [(ngModel)]="articulo.autor.id" >
                                <option [value]="usuario.id" *ngFor="let usuario of usuarios">{{usuario.nombre}}</option>
                            </select>
                    </div>
                    <div class="row text-right">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                        <div class="col-md-2">
                            <button [routerLink]="['/articulos','list']" class="btn btn-danger"  (click)="cancelCreation()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <br>
    <br>
</div>